

img{
    height:80px;
    width: 110px;
    cursor: pointer;
    margin-right: auto;
}

.navbar{
    width: 100%;  
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px 10%;
    background-color: black;
    height:90px;

}

.rightside a{
    text-decoration: none;
    color: white;
    font-weight: 500;
    padding-left: 30px;
    

}

.rightside a:hover{
    color: rgb(48, 124, 194);
    font-size: 0.9rem;
    font-weight: 700;
}