.App {
  text-align: center;

}
*{
  margin: 0;
  padding: 0;
  font-family:'poppings', sans-serif;
  box-sizing: border-box;
  /* background-color: rgb(138, 127, 127); */
  font-family: Arial, Helvetica, sans-serif;
}
